body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: block;
  background: #2e84f6 ;
  overflow:auto;
  color: white;
  font-size: .5rem;
  font-family: "Source Sans Pro", sans-serif;

}

.navbar_title {
  float: left;
  padding-left: 1rem;

}
.navbar_portfolio {
  float: right;
  padding-right: 1rem;
}

.navbar_blog {
  float: right;
  padding-right: 1rem;
}

.navbar_contact {
  float: right;
  padding-right: 1rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  width: calc(100% / 3 - 1rem - 1rem);
}

.profile_user {
  overflow: auto;
}

.blog {
    width: 25em;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
    color: white;
    display: inline-block;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 10em;
 }

.image {
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      margin-top: 4em;
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.week {
      color: white;
      background: #2e84f6;
      position: absolute;
      transform: translate(-50%, -50%);
      margin-left: 9em;
      padding:.9em;
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.blogtitle {
color: black;
display: inline-block;
padding-left: 4em;
padding-top: 2em;

}

.blogcontent {
color: black;
padding-top: 1.5em;

}
