body {
  margin: 0;
}
.navbar {
  display: block;
  background: #2e84f6 ;
  overflow:auto;
  color: white;
  font-size: .5rem;
  font-family: "Source Sans Pro", sans-serif;

}

.navbar_title {
  float: left;
  padding-left: 1rem;

}
.navbar_portfolio {
  float: right;
  padding-right: 1rem;
}

.navbar_blog {
  float: right;
  padding-right: 1rem;
}

.navbar_contact {
  float: right;
  padding-right: 1rem;
}
.blog {
background: pink;
width: 15rem;
height: 15rem;
overflow: auto;
}
.week {
color: black;
}

.blogtitle {
color: black;

}

.blogcontent {
color: black;

}
